.userInfo > p.userName {
  font-style: normal;
  font-weight: 700;
  font-size: 3rem;
  line-height: 100%;
  margin-bottom: 8px;

  /* identical to box height, or 64px */
  letter-spacing: -1.85px;
  text-decoration-line: underline;
  text-decoration-thickness: 3px;
  text-underline-offset: 5px;
  color: #e16259;
}
.userInfo {
  color: #000;
  font-weight: 400;
  font-size: 1rem;
}
.userAddress .streetNum {
  color: #a259ff;
  font-weight: 700;
}
.userAddress .country {
  color: #000;
  font-weight: 900;
  display: inline-block;
}
.userInfo .gender {
  color: rgba(0, 0, 0, 0.6);
  font-size: 1rem;
  font-weight: 600;
  margin-bottom: 4px;
  text-transform: capitalize;
}
