.userCard {
  background-color: #ffffff;
  padding: 12px 16px 12px 16px;
  background: #ffffff;
  min-height: 110px;
  box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  cursor: pointer;
}
.userCard > .userName {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 135%;
  margin-bottom: 4px;
}
.userCard > p:first-child {
  color: rgba(0, 0, 0, 0.6);
  font-size: 0.8rem;
  font-weight: 500;
  margin-bottom: 4px;
}
.userCard > p:last-child > a {
  text-decoration: none;
  color: #e16259;
  font-weight: 500;
  font-size: 15px;
  line-height: 150%;
}
.userCard.selected {
  color: #fff;
  background: #a259ff;
}
.userCard.selected > p:last-child > a {
  color: #fff;
}
.userCard.selected > p:first-child {
  color: #fff;
}
