header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}
.nav {
  position: relative;
}

.nav > ul {
  list-style: none;
  display: flex;
  gap: 10px;
  font-weight: 500;
  cursor: pointer;
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 150%;

  /* identical to box height, or 26px */

  color: #000000;
}

.nav .underLine {
  position: absolute;
  bottom: -6px;
  width: 100%;
  height: 2.5px;
  transform-origin: left;
  background-color: #e16259;
  opacity: 1;
  /* transform: translateX(calc(100% + 10px)); */
}
/* .nav:hover > .underLine {
  opacity: 1;
} */
.appLogo > .heading {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 145%;

  /* identical to box height, or 35px */

  color: #000000;
}

@media only screen and (max-width: 420px) {
  .nav > ul {
    gap: 10px;
    font-size: 15px;
  }
  .appLogo > .heading {
    font-weight: 700;
    font-size: 22px;
  }
}
