header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}
.nav {
  position: relative;
}

.nav > ul {
  list-style: none;
  display: flex;
  gap: 10px;
  font-weight: 500;
  cursor: pointer;
}

.nav .underLine {
  position: absolute;
  bottom: -6px;
  width: 30%;
  height: 2.5px;
  transform-origin: left;
  background-color: #e16259;
  opacity: 0;
  transition: opacity 200ms ease-in-out, transform 200ms ease-in-out;
  /* transform: translateX(calc(100% + 10px)); */
}
.nav:hover > .underLine {
  opacity: 1;
}
